<h1>Users: <%=@user.name%></h1>

<h3>Skills: </h3>
	<ul>
		<% @user.skills.each do |skill| %>
		<li><%= link_to(skill.name, skill_path(skill.id))%> |
			<%= plus_count(@user, skill) %>
			<% unless current_user == @user %>
				| <%= link_to("PLUS", plus_one_index_path(user: @user, skill: skill), method: :post) %>
			<% end %>
		</li>
		<% end %>
	</ul>
<% if current_user == @user %>
	<%= link_to("Add new skill", new_skill_path(user_id: @user.id)) %>
<% end %>